## Prologue

The prologue for this examination will be via email, which you
should send to your instructor by 10:30 p.m. on Friday evening.
Your message should be titled **CSC 151.{{ site.section_number
}}: Exam {{ page.number }} Prologue (*your name*)**.

1. *For each problem, please include a short note about something that
will help you solve the problem.* Mostly, we want to see some evidence
that you've thought about the problem.  You might note some similar
procedures you've written or problems you've solved in the past
(e.g., in a lab or on a homework assignment). You might note
procedures that you expect to use. You might sketch an algorithm.
You might pose a question to yourself. (We won't necessarily read
this in a timely fashion, so if you have questions for your instructor,
you should ask by email or in person.)

    If, when looking at a problem, you think you already know the answer,
you can feel free to write something short like "solved" or "trivial".

2. *Which of those problems do you expect to be the most difficult for
you to solve?  Why?*

3. Conclude by answering the question *What is an approach that you expect
will help you be successful on this exam?* For example, you might suggest
that you will work thirty minutes on the exam each day, or work on the
exam at 7pm each day, when your brain is most able to process information.
