            <li><a href="{{ site.baseurl | append: '/handouts/academic-honesty' }}">Academic Honesty</a></li>
            <li><a href="{{ site.baseurl | append: '/handouts/accessibility' }}">Accessibility</a></li>
            <li><a href="{{ site.baseurl | append: '/handouts/accommodations' }}">Accommodations and Adjustments</a></li>
            <li><a href="{{ site.baseurl | append: '/handouts/email' }}">Email</a></li>
            <li><a href="{{ site.baseurl | append: '/handouts/faq' }}">FAQ</a></li>
            <li><a href="{{ site.baseurl | append: '/handouts/grading' }}">Notes on Grading</a></li>
            <li><a href="{{ site.baseurl | append: '/handouts/teaching' }}">Teaching and Learning</a></li>
            <li><a href="{{ site.baseurl | append: '/handouts/taking-notes' }}">Taking Notes</a></li>
