            <li><a href="{{ site.baseurl | append: '/assignments/' }}">Assignments</a></li>
            <li><a href="{{ site.baseurl | append: '/eboards/' }}">EBoards</a></li>
            <li><a href="{{ site.baseurl | append: '/exams/' }}">Exams</a></li>
            <li><a href="{{ site.baseurl | append: '/flashcards/' }}">Flashcard Assignments</a></li>
            <li><a href="{{ site.baseurl | append: '/labs/' }}">Labs</a></li>
            <li><a href="{{ site.baseurl | append: '/writeups/' }}">Labs Writeups</a></li>
            <li><a href="{{ site.baseurl | append: '/readings/' }}">Readings</a></li>
