            <li><a href="../assignments/current">Current Assignment</a></li>
            <li><a href="{{ site.baseurl | append: '/eboards/current' }}">Current EBoard</a></li>
            <li><a href="{{ site.baseurl | append: '/exams/current' }}">Current Exam</a></li>
            <li><a href="{{ site.baseurl | append: '/flashcards/current' }}">Current Flashcard Assignment</a></li>
            <li><a href="{{ site.baseurl | append: '/labs/current' }}">Current Lab</a></li>
            <li><a href="{{ site.baseurl | append: '/writeups/current' }}">Current Lab Writeup</a></li>
            <li><a href="{{ site.baseurl | append: '/readings/current' }}">Current Reading</a></li>
